body {
    font-family:sans-serif;
    background-color: #fcfcfc;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.backlog-list-section {
    border:1px solid grey;
    border-radius:5px;
}

.header-button {
    margin:5px;
}

.configure-global-settings-button {
    float:right;
}

.add-backlog-button {
    float:right;
}

.stats-button {
    float:right;
}

.settings-area {
    margin:10px;
}

.backlog-list-section .header {
    padding:5px;

}
.backlog-list-entry, .teams-list-entry{
    margin:10px;
    font-size: 18pt;
    list-style-type:none;
}

.velocity-div {
    margin-bottom: 1em;
}

.floatingHeader {
    padding: 1em 1em 1em 20px;
    width:96%;
    position: fixed;
    top: 0;
    left: 0;
    opacity:1;
    background:#fff;
    z-index:1000;
    box-shadow: rgb(204,204,204) 5px 5px 5px;
}

div.buttons {
    margin: 1em;
}

#slider {
    margin-bottom: 1em;
}

#summary {
    margin:5px;
    font-size:14pt;
    font-style:italic;;
}

div.project-chunk {
    margin:10px 10px 10px 15px;
    padding:8px;
    min-width:300px;
    white-space:pre;
    border-left-width: 5px;
}

.item .label {
    white-space: pre-wrap;
}

.item {
    background: white;
}

div.emblem {
    width:20px;
    height:20px;
    border:1px solid;
    float:right;
    margin:5px;
    padding:5px;
}

div.board-emblem {
    border-color: #E6CA51;
    background: #FFEEA5;
}

div.bugzilla-emblem {
    background-image:url("robomap/buggie.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-color: #dddddd;
}

.item button {
    float:right;
}

.item {
    min-height: 35px;
}

.item textarea {
    width: 160px;
    height: 5em;
    margin:5px;
}

.drop-zone {
    background:grey;
    height:20px;
    width:100%;
}
img.add-icon {
    float:right;
}

img.edit-icon, img.delete-icon, img.finished-icon {
    float:right;
}

img.edit-icon, img.delete-icon, img.add-icon, img.finished-icon{
    height:30px;
    width:30px;
    margin:2px;
}

img.rename-icon {
    height:16px;
    width:16px;
    padding:2px;
    top: -4px;
}
div.epic {
    border:1px solid #D9AF00;
    border-left-width: 5px;
    border-radius: 5px;
    background-color: #EBE6D3;
}

div.divider {
    width:75%;
    display:block;
    background:#eeeeee;
    padding:8px;
    border:1px solid #AAAAAA;
    font-style:italic;
    border-left-width: 5px;
}

div.backlog {
    display:inline-block;
    width:100%;
}

.commit-message {
    border:2px solid grey;
    width:100%;
    height:10em;
    margin-bottom: 1em;
}

#header {
    margin-bottom:10px;
}

div.item div.estimates-holder {
    text-align: right;
    margin-top: 5px;
    padding-top: 5px;
}

div.item div.controls button{
    float:none;
}
div.item div.controls {
    float:right;
}

#title-span {
    padding-right: 1em;
}
#title {
    padding-right: .1em;
    display:inline-block;
    font-weight: bold;
    font-size: 2em;
}
.edit-button {
    margin-left:10px;
    margin-bottom:10px;
    float:right;
}

.hide-button, .toggle-burndown-button {
    float:right;
}

.memo-text {
    min-height: 2em;
}

.unfinished {
    border:1px solid #003C93;
    border-radius: 5px;
    background-color: #D3DDEE;
}
.finished {
    border:1px solid #007534;
    background: #82CCA2;
    border-radius: 5px;
}

/* THE CHART STUFF */
.chart {
    padding: 10px;
}
.chart svg {
    width:100%;
    max-height:100%;/*https://bugs.webkit.org/show_bug.cgi?id=82489*/
}

/* override the size of the jquery ui buttons */
.ui-button, .ui-button-text .ui-button{
    font-size: .8em !important;
}
