
.backlog-list-section {
  border:1px solid grey;
  border-radius:5px;
}

.header-button {
    margin:5px;
}

.configure-global-settings-button {
	float:right;
}

.add-backlog-button {
	float:right;
}

.stats-button {
    float:right;
}

.settings-area {
    margin:10px;
}

.backlog-list-section .header {
  padding:5px;

}
.backlog-list-entry, .teams-list-entry{
  margin:10px;
  font-size: 18pt;
  list-style-type:none;
}

img.chart {
	width:100%;
}

.velocity-div {
    margin-bottom: 1em;
}

.floatingHeader {
  padding: 1em;
  width:96%;
  position: fixed;
  top: 0;
  opacity:1;
  background:white;
  z-index:1000;
  box-shadow: rgb(204,204,204) 5px 5px 5px;
  border-left: 1px solid rgb(204,204,204);
}

div.buttons {
    margin: 1em;
}

#summary {
	margin:5px;
	font-size:14pt;
	font-style:italic;;
}

body {
  font-family:sans-serif;
  margin:20px;
}

div.project-chunk {
  margin:10px;
  padding:5px;
  min-width:300px;
  white-space:pre;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

.item .label {
    white-space: pre-wrap;
}

.item {
	background: white;
}

div.emblem {
 width:20px;
 height:20px;
 border:1px solid;
 float:right;
 margin:5px;
 padding:5px;
}

div.board-emblem {
 border-color: #E6CA51;
 background: #FFEEA5;
}

div.bugzilla-emblem {
 background-image:url("robomap/buggie.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
 border-color: #dddddd;
}

.item button {
	float:right;
}

.item {
	min-height: 35px;
}

.item textarea {
	width: 160px;
	height: 5em;
	margin:5px;
}


.drop-zone {
	background:grey;
	height:20px;
	width:100%;
}
img.add-icon {
	float:right;
}

img.edit-icon, img.delete-icon, img.finished-icon {
	float:right;
}

img.edit-icon, img.delete-icon, img.add-icon, img.finished-icon{

	height:30px;
	width:30px;
	margin:2px;
}

div.epic {
  border:4px solid orange;
}

div.divider {
  width:400px;
  display:block;
  background:#eeeeee;
  padding:5px;
  border:2px solid #dddddd;
  font-style:italic;
}

img.burndown-chart {
  float:right;
}

div.backlog {
  display:inline-block;
  width:100%;
}

.commit-message {
  border:2px solid grey;
  width:100%;
  height:10em;
  margin-bottom: 1em;
}

#header {
	margin-bottom:10px;
}

div.item div.estimates-holder {
	text-align: right;
	margin-top: 5px;
	padding-top: 5px;
}

div.item div.controls button{
	float:none;
}
div.item div.controls {
	float:right;
}

#title {
    padding: .3em 0;
	display:inline-block;
	font-weight: bold;
	font-size: 2em;
}
.edit-button {
    margin-left:10px;
    margin-bottom:10px;
    float:right;
}

.hide-button, .toggle-burndown-button {
    float:right;
}

.memo-text {
	min-height: 2em;
}

.unfinished {
  border:4px solid blue;
}
.finished {
  border:4px solid green;
  background: green;
}

/* THE CHART STUFF */
div.chart {
   margin:20px;
}
svg {
   border:2px solid grey;
   width:100%;
}
