
body {
  font-family:sans-serif;
  margin:20px;
}

div.project-chunk {
  margin:10px;
  padding:5px;
  border:4px solid;
  width:300px;
}
	
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

div.emblem {
 width:20px;
 height:20px;
 border:1px solid;
 float:right;
 margin:5px;
 padding:5px;
}

div.board-emblem {
 border-color: #E6CA51;
 background: #FFEEA5;
}

div.bugzilla-emblem {
 background-image:url("robomap/buggie.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
 border-color: #dddddd;
}

.item button {
	float:right;
}

.item {
	min-height: 35px;
}

img.edit-icon {
	height:30px;
	width:30px;
	margin:2px;
	float:right;
}

div.story {
  border-color:green;
}
div.epic {
  border-color:orange;
}

div.divider {
  width:400px;
  display:block;
  background:#eeeeee;
  padding:5px;
  border:2px solid #dddddd;
  font-style:italic;
}

img.burndown-chart {
  float:right;
}

div.backlog {
  display:inline-block;
}

.commit-message {
  border:2px solid grey;
  height:40px;
}

#header {
	
	margin-bottom:10px;
}
